%h1.text-center.mt-3 使用者列表
-# .search.d-flex.justify-content-between.mt-3
%table.table.table-striped.text-center.mt-1
  %thead.thead-dark
    %tr
      %th 創建時間
      %th 使用者帳號
      %th 使用者權限
      %th{colspan: 1} 
  %tbody 
    - @users.each do |user|
      %tr 
        %td 
          = time_format(user.created_at)
        %td 
          = user.name
        %td 
          = user.role
        %td
          = link_to '刪除', register_path(user), method: :deletem, data: {confirm: '確定是否刪除使用者？'}, class: 'btn btn-danger btn-sm'
    